/*#ED5356*/
/*#F7C7DA*/
/*#FBE7ED*/

#banner {
  height: 100vh;
}

.color-1 {
  color: #ED5356;
}
.color-2 {
  color: #F7C7DA;
}
.color-3 {
  color: #FBE7ED;
}

.request-success {
  display: none;
}

.request-failure {
  display: none;
}

.section-container {
  padding: 60px 120px;
}

.donation-box {
  padding: 40px 20px;
  background: #F7C7DA;
  border-radius: 8px;
}

.input {
  border: 0px solid white;
  height: 40px;
  padding: 20px 40px;
  border-radius: 8px;
}

.select {
  width: 300px;
  padding: 0 12px;
  height: 40px;
  border: 1px solid #ddd; /* Add a grey border */
  border-radius: 8px;
  background: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 7px;
}

.select-placeholder {
  color: rgb(130,130,130);
}

.select-option {
  color: rgb(50,50,50);
  padding: 4px 0;
  border-bottom: 0.5px solid rgb(230,230,230);
}

.text-white {
  color: white;
}

.banner-left {
  background: white;
}

.logo-img {
  height: 400px;
  width: 400px;
}

.banner-right {
  background: #ED5356;
}

.banner-paragraph {
  font-size: 36px;
  color: white;
  margin-bottom: 10px;
}

.card {
  background-color: rgb(250,250,250);
  padding: 30px;
  height: 400px;
  margin: 40px 0;
}

.card-title {
  margin-bottom: 20px;
}

#footer {
  height: 30vh;
  background-color: rgb(70,70,70);
}

#footer > p {
  color: white;
}

i {
  font-size: 30px;
  padding-right: 20px;
  color: white;
}

i:hover {
  color: rgb(150,150,150);
  transition: 300ms;
}








.fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-30 {
  font-size: 30px;
}

.fs-36 {
  font-size: 36px;
}

.spacer-s {
  height: 20px;
}

.spacer-m {
  height: 40px;
}

.spacer-l {
  height: 80px;
}

.br-4 {
  border-radius: 4px;
}

.br-8 {
  border-radius: 8px;
}

.br-12 {
  border-radius: 12px;
}

.br-16 {
  border-radius: 16px;
}

.br-50 {
  border-radius: 50%;
}

.flex {
  display: flex;
}
.flex.center {
  align-items: center;
}
.flex.align-start {
  align-items: start;
}
.flex.around {
  justify-content: space-around;
}
.flex.between {
  justify-content: space-between;
}
.flex.start {
  justify-content: flex-start;
}
.flex.end {
  justify-content: flex-end;
}
.flex.column {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}
.flex.wrap {
  flex-wrap: wrap;
}

.f-5 {
  flex: 0 0 5%;
}

.f-10 {
  flex: 0 0 10%;
}

.f-15 {
  flex: 0 0 15%;
}

.f-20 {
  flex: 0 0 20%;
}

.f-24 {
  flex: 0 0 24%;
}

.f-25 {
  flex: 0 0 25%;
}

.f-30 {
  flex: 0 0 30%;
}

.f-33 {
  flex: 0 0 33%;
}

.f-40 {
  flex: 0 0 40%;
}

.f-45 {
  flex: 0 0 45%;
}

.f-48 {
  flex: 0 0 48%;
}

.f-50 {
  flex: 0 0 50%;
}

.f-60 {
  flex: 0 0 60%;
}

.f-65 {
  flex: 0 0 65%;
}

.f-66 {
  flex: 0 0 66%;
}

.f-70 {
  flex: 0 0 70%;
}

.f-75 {
  flex: 0 0 75%;
}

.f-80 {
  flex: 0 0 80%;
}

.f-90 {
  flex: 0 0 90%;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-25 {
  height: 25%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.h-48 {
  height: 48%;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}

.h-75 {
  height: 75%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

.w-100 {
  width: 100%;
}

.w-33 {
  width: 33%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-50 {
  width: 50%;
}

.w-15 {
  width: 15%;
}

.gs-30 {
  color: #1e1e1e;
}

.gs-50 {
  color: #323232;
}

.gs-70 {
  color: #464646;
}

.gs-90 {
  color: #5a5a5a;
}

.gs-110 {
  color: #6e6e6e;
}

.warning-text {
  background-color: #F0AD4E;
  color: white;
  padding: 8px;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.success-text {
  background-color: #5CB85C;
  color: white;
  padding: 8px;
}

.danger-text {
  background-color: #D9534F;
  color: white;
  padding: 8px;
}

.info-text {
  background-color: #31A2B8;
  color: white;
  padding: 8px;
}

.center-container {
  margin-top: 50px;
  padding: 0 200px !important;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  color: #141414;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  color: #323232;
}

.section-text {
  font-size: 14px;
  font-weight: normal;
  color: #505050;
}

.bold {
  font-weight: bold;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.scrollable {
  overflow-y: scroll;
}

.clickable:hover {
  opacity: 0.9;
  transition: 300ms;
  cursor: pointer;
}

.circle-hover {
  border-radius: 50%;
  padding: 8px;
}
.circle-hover:hover {
  background-color: gainsboro;
  transition: 300ms;
}

.deactivated {
  background-color: #6C757D !important;
  color: white !important;
  border: 1px solid #6C757D !important;
}
.deactivated:hover {
  cursor: not-allowed;
}

.img-fit {
  max-width: 100%;
  max-height: 100%;
}

.mt-1 {margin-top: 4px}
.mt-2 {margin-top: 8px}
.mt-3 {margin-top: 12px}
.mt-4 {margin-top: 20px}
.mt-5 {margin-top: 30px}
.mb-1 {margin-bottom: 4px}
.mb-2 {margin-bottom: 8px}
.mb-3 {margin-bottom: 12px}
.mb-4 {margin-bottom: 20px}
.mb-5 {margin-bottom: 30px}
.mr-1 {margin-right: 4px}
.mr-2 {margin-right: 8px}
.mr-3 {margin-right: 12px}
.mr-4 {margin-right: 20px}
.mr-5 {margin-right: 30px}
.ml-1 {margin-left: 4px}
.ml-2 {margin-left: 8px}
.ml-3 {margin-left: 12px}
.ml-4 {margin-left: 20px}
.ml-5 {margin-left: 30px}
.mx-1 {margin-left: 4px; margin-right: 4px;}
.mx-2 {margin-left: 8px; margin-right: 8px;}
.mx-3 {margin-left: 12px; margin-right:12px;}
.mx-4 {margin-left: 20px; margin-right:20px;}
.mx-5 {margin-left: 30px; margin-right:30px;}
.my-1 {margin-top: 4px; margin-bottom: 4px;}
.my-2 {margin-top: 8px; margin-bottom: 8px;}
.my-3 {margin-top: 12px; margin-bottom:12px;}
.my-4 {margin-top: 20px; margin-bottom:20px;}
.my-5 {margin-top: 30px; margin-bottom:30px;}
.m-1 {margin: 4px;}
.m-2 {margin: 8px;}
.m-3 {margin: 12px;}
.m-4 {margin: 20px;}
.m-5 {margin: 30px;}

.pt-1 {padding-top: 4px}
.pt-2 {padding-top: 8px}
.pt-3 {padding-top: 12px}
.pt-4 {padding-top: 20px}
.pt-5 {padding-top: 30px}
.pb-1 {padding-bottom: 4px}
.pb-2 {padding-bottom: 8px}
.pb-3 {padding-bottom: 12px}
.pb-4 {padding-bottom: 20px}
.pb-5 {padding-bottom: 30px}
.pr-1 {padding-right: 4px}
.pr-2 {padding-right: 8px}
.pr-3 {padding-right: 12px}
.pr-4 {padding-right: 20px}
.pr-5 {padding-right: 30px}
.pl-1 {padding-left: 4px}
.pl-2 {padding-left: 8px}
.pl-3 {padding-left: 12px}
.pl-4 {padding-left: 20px}
.pl-5 {padding-left: 30px}
.px-1 {padding-left: 4px; padding-right: 4px;}
.px-2 {padding-left: 8px; padding-right: 8px;}
.px-3 {padding-left: 12px; padding-right:12px;}
.px-4 {padding-left: 20px; padding-right:20px;}
.px-5 {padding-left: 30px; padding-right:30px;}
.py-1 {padding-top: 4px; padding-bottom: 4px;}
.py-2 {padding-top: 8px; padding-bottom: 8px;}
.py-3 {padding-top: 12px; padding-bottom:12px;}
.py-4 {padding-top: 20px; padding-bottom:20px;}
.py-5 {padding-top: 30px; padding-bottom:30px;}
.p-1 {padding: 4px;}
.p-2 {padding: 8px;}
.p-3 {padding: 12px;}
.p-4 {padding: 20px;}
.p-5 {padding: 30px;}

.gs-30 {color: rgb(30,30,30)}
.gs-50 {color: rgb(50,50,50)}
.gs-70 {color: rgb(70,70,70)}
.gs-90 {color: rgb(90,90,90)}
.gs-110 {color: rgb(110,110,110)}
